report-common/src/main/resources/wsdl/TestPortType.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="RusatomService"
                  targetNamespace="http://ruatom.ru/integration/testws1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
                  xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex"
                  xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy"
                  xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:tns="http://ruatom.ru/integration/testws1"
                  xmlns:wsa10="http://www.w3.org/2005/08/addressing"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
    <wsp:Policy wsu:Id="ruatomServiceEndpoint_policy">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:SymmetricBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:ProtectionToken>
                            <wsp:Policy>
                                <sp:KerberosToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/Once">
                                    <wsp:Policy>
                                        <sp:WssGssKerberosV5ApReqToken11/>
                                    </wsp:Policy>
                                </sp:KerberosToken>
                            </wsp:Policy>
                        </sp:ProtectionToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic128/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp/>
                        <sp:OnlySignEntireHeadersAndBody/>
                    </wsp:Policy>
                </sp:SymmetricBinding>
                <sp:Wss10 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy/>
                </sp:Wss10>
                <sp:Trust13 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
                    <wsp:Policy>
                        <sp:MustSupportIssuedTokens/>
                        <sp:RequireClientEntropy/>
                        <sp:RequireServerEntropy/>
                    </wsp:Policy>
                </sp:Trust13>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xs:schema elementFormDefault="qualified" targetNamespace="http://ruatom.ru/types" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ruatom.ru/types">
            <xs:element name="testMessage" type="tns:TestMessageType"/>
            <xs:complexType name="TestMessageType">
                <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="1" name="el1" type="xs:string"/>
                    <xs:element minOccurs="0" maxOccurs="1" name="el2" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="TestRequest">
        <wsdl:part name="testMessage" element="q1:testMessage" xmlns:q1="http://ruatom.ru/objects"/>
    </wsdl:message>
    <wsdl:message name="TestResponse">
        <wsdl:part name="testResponse" element="q2:testResponse" xmlns:q2="http://ruatom.ru/objects"/>
    </wsdl:message>

    <wsdl:portType name="testPortType">
        <wsdl:operation name="TestRequest">
            <wsdl:input wsaw:Action="urn:TestRequest" name="TestRequest" message="tns:TestRequest"/>
            <wsdl:output wsaw:Action="http://ruatom.ru/integration/testPortType/TestResponse" name="TestResponse" message="tns:TestResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="testServiceEndpoint" type="tns:testPortType">
        <wsp:PolicyReference URI="#testServiceEndpoint_policy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Test">
            <soap:operation soapAction="urn:testMessage" style="document"/>
            <wsdl:input name="TestRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="TestResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TestService">
        <wsdl:port name="testServiceEndpoint" binding="tns:testServiceEndpoint">
            <soap:address location="./ws/testService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>